.textDisplay {
    height: 70px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.displayContainer {
    width: 500px;
    height: 70px;
    background-color: #3f4838;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textBox {
    width: 350px;
    height: 45px;
    background-color: #211112;
}