.selectContainer {
    width: 700px;
    height: 300px;
    position: absolute;
    top: 290px;
    display: flex;
    flex-wrap: wrap;
}

.selectContainer > div {
    display: flex;
}

.top {
    border-bottom: 2px solid #0b2323;
    padding-bottom: 15px;
}

.bottom {
    border-top: 2px solid #627268;
}