.characterImageBox {
    width: 150px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.characterImage {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.characterImage img {
    height: 100px;
}